<h1>Photo Details</h1>

<p><%#=@photo_id%></p>
<p><%#=@photo.inspect%></p>


<dl>
  <dt>Image</dt>
  <dd><img src="<%=@photo.image%>" alt=""></dd>
  <dt>Caption</dt>
  <dd><%=@photo.caption%></dd>  
  <dt>Owner</dt>
  <dd><%=@photo.poster.username%></dd>
  <dt>Posted</dt>
  <dd><%=@photo.created_at%></dd>
  <dt>Edit photo</dt>
  <dd>
    <form action="/update_photo/<%=@photo.id%>">
      <label for="image_box">Image</label>
      <input type="text" id = "image_box" name="Image" value="<%=@photo.image%>%">

      <label for="caption_box">Caption</label>
      <input type="text" id = "caption_box" name="Caption" value="<%=@photo.caption%>%">

      <button>Update photo</button>
    </form>
  </dd>
  <dt>Delete photo</dt>
  <dd><a href="/delete_photo/<%=@photo.id%>">Delete this photo</a></dd>
</dl>

<h1>Comments</h1>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>
  <%@photo.comments.each do |a_comment|%>
    <tr>
      <td><%=a_comment.commenter.username%></td>
      <td><%=a_comment.body%></td>
      <td><%=a_comment.created_at%></td>
    </tr>
  <%end%>
</table>


<h1>Add a new comment</h1>

<p>form placehodler</p>
